@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
.branch-name {
    font-family: "Pacifico", cursive;
}

body {
    background: #fdf4ec;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}
